.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

.idea/
*.iml
.DS_Store

android/.gradle/
android/.kotlin/
android/local.properties
android/**/captures/

ios/.symlinks/
ios/Pods/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
